 
.main {
  display: flex;
  flex-direction: row;  
  margin-top: 22vh;
  margin-left: 7vw; margin-right: 2vw;
  gap: 1.5vh;  
  flex-wrap: wrap; 
}

 
.hero-column {
  flex: 2;  
  display: flex;
  flex-direction: column; 
  gap: 1.5vh; 
}

 
.second-part-column {
  flex: 1;  
}

 
.hero-h1 {
  font-size: 5vh;
  font-weight: bold;
  color: #222;
}

 
.slogan {
  font-size: 1rem;
  color: #555;
  font-style: italic;
  margin-top: 0.5vh;
}

 
.input-area {
  display: flex;
  align-items: center;
  gap: 15px;  
  margin-top: 2vh;  
}
 
.input-area button {
  padding: 10px 20px;
  background-color: #B89345;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.input-area button:hover {
  background-color: #b89445d7;
}

 
.input-area input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width:20%;margin-right:0.5vw;
  font-size: 1rem;
}

 
.second-part {
  font-size: 1rem;
  color: #444;
  line-height: 1.6;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

 
.gap {
  min-width: 0.5vh;
}
 
@media (max-width: 768px) {
  .main {
    flex-direction: column;  
    margin-left: 2vw;margin-right: 3vw;
    margin-top: 10vh;
  }

  .hero-column, .second-part-column {
    flex: none; 
  }

  .hero-h1 {
    font-size: 4vh;
  }

  .slogan {
    font-size: 0.9rem;
  }

  .input-area {
    flex-direction: column; 
    gap: 10px;
  }

  .input-area input {
    width: 100%;  
  }

  .second-part {
    margin-left: 0;
    font-size: 0.9rem;
  }
}

/*  480px (phones) */
@media (max-width: 480px) {
  .hero-h1 {
    font-size: 3vh;
  }

  .slogan {
    font-size: 0.8rem;
  }

  .input-area button {
    font-size: 0.9rem;
  }

  .input-area input {
    width: 100%;  
  }

  .second-part {
    font-size: 0.8rem;
    padding: 8px;
  }
}
