/* Background layer with blur effect */
.container {
  position:relative;
  min-height: 100vh;
  display: flex;
  flex-direction:row;
  overflow: hidden;
  background-image: url('./images/background.png');
  background-size: cover;
  background-position: center;
   
}


.navbar {
  position: absolute;
  top: 0; 
  right:0; 
  z-index: 10;
}

.hero{
  margin-top: 15vh;
  margin-right: 0vw;margin-left: 33vw; padding-top: 3vh;
  z-index: 10;
}
